**/.DS_Store

**/.git
**/.gitignore

**/venv
**/env 

**/bin
**/lib
**/var
**/include
**/instance
**/pyvenv.cfg

**/__pycache__

**/.idea
**/.vscode

docker-compose*.yml
dockerfile*
README.md

words.txt